* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serifFFF;
}

#main {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

#cursor {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #fff;
}
