* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serifFFF;
}

html,
body {
  width: 100%;
  height: 100%;
}

section {
  height: 100%;
  width: 100%;
  background-color: bisque;
}
